@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-indigo-600;
}
a:hover {
  @apply underline text-indigo-500;
}

@media print {
  a {
    color: initial;
  }
  a:hover {
      text-decoration: none;
  }
}
